	.wrongmask{
		display:none;
	}


	#mask{
		position:absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		opacity: 0.8;
		z-index: 300;
		margin: 0px;
		background: #67695A;
	}
	#bander{
		position: fixed;
		height:230px;
		width: 100%;
		top:200px;
		background: #4A0000;
		z-index: 301;

	}
	.line{
		position: absolute;
		background: #fff;
		width: 100px;
		height: 5px;
		z-index: 2;
		box-shadow: -500px 0px 1px #fff, -300px 115px 1px #fff ,-800px 115px 1px #fff ; 
	}


	#wrap{
		position: absolute;
		height:230px;
		width: 100%;
		top: 0px;
		border-top:4px solid #111;
		border-bottom: 4px solid #111; 
		background:-webkit-linear-gradient(left, #00475E, #007276);
		z-index: 1;

	}
	#m1{
		top: 10px;
		
		-webkit-animation: meteoshift 1.2s linear normal infinite;
	}

	#m2{
		top: 20px;
		-webkit-animation: meteoshift 0.8s linear normal infinite;
	}

	#m3{
		top: 30px;
		-webkit-animation: meteoshift 0.9s linear normal infinite;
	}
	#m4{
		top: 40px;
		-webkit-animation: meteoshift 1.0s linear normal infinite;
	}

	#m5{
		top: 50px;
		-webkit-animation: meteoshift 0.6s linear normal infinite;
	}
	#m6{
		top: 60px;
		-webkit-animation: meteoshift 0.9s linear normal infinite;
	}

	#m7{
		top: 70px;
		-webkit-animation: meteoshift 0.8s linear normal infinite;
	}
	#m8{
		top: 80px;
		-webkit-animation: meteoshift 1.2s linear normal infinite;
	}
	#m9{
		top: 90px;
		-webkit-animation: meteoshift 0.7s linear normal infinite;
	}

	#m10{
		top: 100px;
		-webkit-animation: meteoshift 1s linear normal infinite;
	}
	@-webkit-keyframes meteoshift /* Safari and Chrome */
	{
		from {left:0px; opacity:0.8;}
		to {left:2100px; opacity:0.5;}
	}

	#img{
		position: absolute;
		top: -66px;
		left: 5%;
		z-index: 4;
		transition: left 0.5s linear 1s;
	}	
	#img img{
		height: 300px;
	}
 
	/*#img:hover{
		left: 75%;
	}*/


	#bubble-wrap{
		display: none;
		position: absolute;
		top: 10%;
		left:56%;
		z-index: 4;
		-webkit-animation: bubblefloat 1s linear alternate infinite;
	}
	@-webkit-keyframes bubblefloat /* Safari and Chrome */
	{
		from {

			-webkit-transform: rotate(-1deg);
		}
		to {

			-webkit-transform: rotate(1deg);
		}
	}

	#bubble {
		margin-top: -100px;
		margin-left: -100px;
		position: absolute;
		font-size: 20px;
		width: 15em;
		height: 9em;
		background: #FFFFFF;
		border: 4px solid #2C2C2C;
		border-radius: 1em;
		top: 25%;
		left:50%;
		padding-left: 20px;
		
		
	}
	


	#bubble-wrap::before {
		position:absolute;	
		content: "";
		bottom: -8.3em;
		right: -11.55em;
		width:0em;
		height:1em;
		border-bottom:3em solid transparent;
		border-right:3em solid #2C2C2C;	
	}
	#bubble-wrap::after {
		position:absolute;	
		content: "";
		bottom: -7.7em;
		right: -11.3em;
		width:0em;
		height:1em;
		border-bottom:2.7em solid transparent;
		border-right:2.7em solid #FFFFFF;	
	}

	
